<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detecciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <p class="center">Ahora en casa</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let persona of deteccionesInHome">
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h3>{{persona.nombre}}</h3>
            </ion-text>
            <p>{{persona.mac}}</p>
            <ion-text class="ion-float-right">
              <p>{{persona.last_format_date}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Seleccionar fecha</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fechaSeleccionada" (ionChange)="updateChart()" placeholder="Seleccionar fecha"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="readyData; else loading">
      <google-chart [data]="timelineChart"></google-chart>
      <ng-template #loading>
        <!-- Bubbles -->
        <ion-spinner class="loader-slider" name="bubbles"></ion-spinner>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-content>
